{% extends './layouts/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Guillermo Dulce - Fotógrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350
        " alt="">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quia dicta reprehenderit sit ea at vitae amet nam, placeat omnis ipsam nobis ratione dolorem, magnam et. Iusto corrupti fugit ratione!</p>
        </div>
    </div>
{% endblock %}