*   {
    background-color: lightskyblue;
}

h1  {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
}

img {
    height: 250px;
}

img.detalle {
    height: 200px;
}

table {
    text-align: center;
}

td{
    padding: 5px;
}

main {
    width: 90%;
    text-align: justify;
    margin: auto;
}